
<div style="background-color:rgb(199, 200, 247); height:200px; width:400px; margin:0 0 0 35%;">
  <h2 style="text-align:center;"> Show Alerts </h2> <!-- <<--- here the changes -->
  
        <div style="text-align:center;margin-top: 50px;">        <!-- <<--- here the changes -->
          <button (click)="display_A_Alert()">A Alert</button>
        </div>
        <div style="text-align:center;margin-top: 10px;">        <!-- <<--- here the changes -->
          <button (click)="display_B_Alert()">B Alert</button>
</div>
  </div>

